.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background: linear-gradient(180deg, #ffffff, #f0f0f0);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

.new-collections h1 {
    color: #333333;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

.new-collections h1::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 50%;
    height: 4px;
    background: #ff4141;
    border-radius: 10px;
}

.new-collections hr {
    width: 100px;
    height: 4px;
    border-radius: 10px;
    background: #ff4141;
    border: none;
    margin: 20px 0;
}

.collections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
   
    
}

.item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    padding: 20px;
    position: relative;
    cursor: pointer;
    /*width: 100%; /* Ensures item fits within its grid column */
    width: 300px;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.item img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.item img:hover {
    transform: none;
}

.item-details {
    padding: 10px 0;
}

.item-name {
    font-size: 16px;
    color: #333333;
    margin: 10px 0;
    font-weight: 500;
    height: 40px; /* Ensure consistent height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.item-price.new {
    font-size: 18px;
    color: #ff4141;
    font-weight: 700;
}

.item-price.old {
    font-size: 14px;
    color: #999999;
    text-decoration: line-through;
}
